<form action="/lists" method="post">
  <dl> 
    <dt> 
      <label for="list_name">Enter a new name for the list:</label>
    </dt>
    <dd>
      <input name="list_name" placeholder="List Name" type="text" value="<%= @list[:name] %>">
    </dd>
    <fieldset class="actions">
      <input type="submit" value="Save"> 
      <a href="/lists/:id">Cancel</a>
    </fieldset>
</form>
