<!doctype html>
<html lang="en-US">
  <head>
    <title>Todo App</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans">
    <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>
  <body>
    <header class="actions">
      <h1>Todo Tracker</h1>
      <a class="add" href="/lists/new">New List</a>
    </header>

    <% if session[:error] %>
      <div class="flash error" id="error-message">
        <p><%= session.delete(:error) %></p>
      </div>

      <script type="text/javascript">
          setTimeout(function() {
              document.getElementById('error-message').style.display = 'none';
          }, 4500); // 3000 milliseconds = 3 seconds
      </script>

    <% elsif session[:success]%>
      <div class="flash success" id="success-message">
        <p><%= session.delete(:success) %></p>
      </div>

      <script type="text/javascript">
          setTimeout(function() {
              document.getElementById('success-message').style.display = 'none';
          }, 3000); // 3000 milliseconds = 3 seconds
      </script>
  <% end %>


  <main>
      <%= yield %>
    </main>
  </body>
</html>
