<!--new_list.erb-->
<form action="/lists" method="post">
  <dl>
    <dt>
      <label>Enter the name for your new list:</label>
    </dt>
    <dd>
      <input type="text" name="list_name" placeholder="list name">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/lists">Cancel</a>
  </fieldset>
</form>